.shop-container{
    display: flex;
    margin-left: 50px;
}
.shop-product{
    width: 70%;
    border-right: 1px solid lightgray;
    margin-right: 10px;
    margin-left: 10px;
}
.shop-card{
    width: 30%;
    text-align: center;
}